#hh3{
    color: crimson;
}
#text{
    color: rgb(255, 155, 4);
    font-weight: 600;
}

/* ------------------ */

#sid{
    color: aqua;
}
.sclass{
    color: aquamarine;
}
h3{
    color: brown;
}
#sid,.sclass,h3{
    font-weight: 900;
}

/* ------------------ */

#l1{
    font-size: 30px;
    font-weight: 400;
}
#l2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}
#l3{
    font-style: italic;
    color: rgb(124, 68, 0);
}

/* ------------------ */

#o1,#o2,#o3{
    color: yellow;
}

/* ------------------ */

#transform{
    /* text-transform: capitalize; */
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: none; */
}

#decorate{
    text-decoration: overline;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: none; */
}

#aa{
    text-decoration: none;
    color: #efad34;
    background-color: #051b34;
}

#all{
    font-size: 21px;
    font-weight: 400;
    font-family: cursive;
    font-style: italic;
    color: #051b34;
    text-transform: uppercase;
    text-decoration: overline;

}

/* ------------------ */
.fontinc{
    font-size: 25px;
}

.letter{
    letter-spacing: 10px;
    word-spacing: 30px;
    line-height: 15px;

    /* text-align: center; */
    /* text-align: left; */
    text-align: right;
}

.change{
    font-size: 40px;
    color: rgb(72, 255, 255);
    text-transform: uppercase;
}

.boat{
    color: #e00606;
    font-style: italic;
}

ul{
    /* list-style-type: lower-alpha; */
    list-style-image: url("image/i.png");
    /* list-style: none; */
}