#hh3{
    color: crimson;
}
#text{
    color: rgb(255, 155, 4);
    font-weight: 600;
}


/* ------------------ */
#sid{
    color: aqua;
}
.sclass{
    color: aquamarine;
}
h3{
    color: brown;
}
/* ------------------ */

#l1{
    font-size: 30px;
    font-weight: 400;
}
#l2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}
#l3{
    font-style: italic;
    color: rgb(124, 68, 0);
    font-display: swap;
}