#hh3{
    color: crimson;
}
#text{
    color: rgb(255, 155, 4);
    font-weight: 600;
}

/* ------------------ */

#sid{
    color: aqua;
}
.sclass{
    color: aquamarine;
}
h3{
    color: brown;
}
#sid,.sclass,h3{
    font-weight: 900;
}

/* ------------------ */

#l1{
    font-size: 30px;
    font-weight: 400;
}
#l2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
}
#l3{
    font-style: italic;
    color: rgb(124, 68, 0);
}

/* ------------------ */

#o1,#o2,#o3{
    color: yellow;
}

/* ------------------ */

#transform{
    /* text-transform: capitalize; */
    text-transform: uppercase;
    /* text-transform: lowercase; */
    /* text-transform: none; */
}

#decorate{
    text-decoration: overline;
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-decoration: none; */
}

#aa{
    text-decoration: none;
    color: #efad34;
    background-color: #051b34;
}

#all{
    font-size: 21px;
    font-weight: 400;
    font-family: cursive;
    font-style: italic;
    color: #051b34;
    text-transform: uppercase;
    text-decoration: overline;

}

/* ------------------ */

.fontinc{
    font-size: 25px;
}

.letter{
    letter-spacing: 10px;
    word-spacing: 30px;
    line-height: 15px;

    /* text-align: center; */
    /* text-align: left; */
    text-align: right;
}

.change{
    font-size: 40px;
    color: rgb(72, 255, 255);
    text-transform: uppercase;
}

.boat{
    color: #e00606;
    font-style: italic;
}

ul{
    /* list-style-type: lower-alpha; */
    list-style-image: url("image/i.png");
    /* list-style: none; */
}

.hide{
    display: none;
}

/* ------------------ */

.bg{
    background-color: #e76603;
}
.op1{
    opacity: 0.6;
}
.op2{
    opacity: 0.3;
}
.op3{
    opacity: 0.1;
}

#sec{
    background-image: url("image/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;

    /* background-color: #e00606; */
}

.log{
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    border-width: 3px;
    /* border: 6px solid red;
    border-radius: 50px; */
    padding: 3px;
    color: #e00606;
    text-align: right;
}

#aaag{
    width: 200px;
    height: 400;
    /* float: left; */
    /* float: right; */
}

.hidden{
    visibility: hidden;
    /* display: none; */
}

/* ---------3-7-25--------- */

.padding-margin{
    border: 5px solid #e00606;

    /* padding: 10px; */
    /* padding: 50px 30px; */
    padding: 10px 20px 30px 40px;
    /* padding-top: 50px; */
    /* padding-right: 50px; */
    /* padding-bottom: 30px; */
    /* padding-left: 60px; */


    /* margin: 10px; */
    /* margin: 50px 30px; */
    margin: 10px 20px 30px 40px;
    /* margin-top: 10px; */
    /* margin-right: 30px; */
    /* margin-bottom: 50px; */
    /* margin-left: 10px; */
}

.pos{
    /* margin: 0; */
    /* position: fixed; */
    /* position: relative; */
    /* position: absolute; */
    position: sticky;
    top: 10px;
    right: 100px;
    /* bottom: 0px; */
    /* left: 100px; */
}

/* ---------9-7-25--------- */

.gcontainer{
    display: grid;
    /* display: inline-grid; */
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 255, 255, 0.355);
    padding: 10px;
    /* gap: 100px 20px; */
    grid-gap:20px 20px;
    border: 3px solid rgb(247, 92, 92);
}
.item{
    background-color: aliceblue;
    text-align: center;
    padding: 5px;
    border: 1px solid rgb(160, 45, 45);
    /* border-radius: 15px; */
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1/3;
    grid-row: 1/3;
}

/* ---------10-7-25--------- */

